$primaryColor: #42C789;
$secondaryColor: #829C8E;
$tertiaryColor: #D5F6DA;
$textWhite: #FFFFFF;

$bgPrimaryColor: #182225;
$bgSecondaryColor: #2E4343;

$codeVariable: #EC9AFF;
$codeNumber: #FFA515;
$codeString: $primaryColor;

