@import '../../assets/scss/variables.scss';

.project {
    @apply pt-10;
    display: flex;
    flex-direction: column;

    &__left, &__right {
        width: 100%;

        @screen md {
            width: 50%;
        }
    }

    p {
        @apply text-lg;
        max-width: 400px;
        @apply font-bold;
    }

    h5 {
        color: $primaryColor;
        @apply font-black;
    }

    @screen md {
        flex-direction: row;
    }
}