@import '../../assets/scss/variables.scss';

.header {
    height: 650px;

    @screen md {
        height: 800px;
    }

    &__intro {
        @apply mx-auto;
        display: flex;
        flex-direction: column;
    
        @screen md {
            flex-direction: row;
        }
    
        @screen lg {
            @apply container;
        }
        
        &__left {
            padding-top: 180px;
    
            @screen md {
                padding-top: 240px;
                width: 40%;
            }
        }
    
        &__right {
            display: none;
    
            @screen md {
                padding-top: 120px;
                display: block;
                width: 60%;
            }
        }
    
        &__right, &__left {
            @apply px-6;
    
            @screen lg {
                width: 50%;
            }
        }
    
        h1 {
            @apply text-4xl;
            @apply font-black;
            @apply mb-5;
    
            @screen md {
                @apply text-5xl;
            }
        }
    
        h4 {
            @apply font-bold;
            width: 320px;
        }
    
        .green {
            color: $primaryColor;
        }
    }
}

.codeBlocks {
    &__floater {
        @screen md {
            top: -35px;
            position: relative;
            left: 100px;
        }
    }
}