@import '../../../assets/scss/variables.scss';

.skills {
    @apply py-24;
    @apply px-6;
    
    @screen lg {
        @apply container;
        @apply mx-auto;
    }

    h3, h5 {
        @apply font-black;
        color: $secondaryColor;
    }

    &__boxes {
        display: flex;
        flex-direction: column;
        @apply pt-10;

        @screen md {
            flex-direction: row;
        }
    }

    &__box {
        h5 {
            @apply mb-4;
        }

        @apply mb-2.5;
        width: 100%;
        
        @screen md {
            width: 32%;
            &:first-child {
                margin-right: 3%;
            }

            &:last-child {
                margin-left: 3%;
            }
        }
    }

    &__group {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    &__skill {
        color: $secondaryColor;

        svg, path {
            width: 60px;
            height: 60px;
            @apply mx-auto;
            @apply mb-2;
        }

        p {
            width: 96px;
            text-align: center;
            color: $textWhite;
        }

        @apply transition;
        @apply duration-500;
        @apply ease-in-out;

        &:hover {
            color: $primaryColor;
        }

        @apply mb-6;
    }
}
