@import '../../assets/scss/variables.scss';

.carousel {
    min-width: 100%;
    display: flex;
    flex-direction: row;

    &__item {
        width: 100%;
        padding-top: 35px;
        display: flex;
        flex-direction: row;

        &__button {
            width: 100%;
            text-align: left;
            @apply mx-2;
        }
    
        &__line {
            height: 6px;
            background: $bgPrimaryColor;
            @apply rounded-full;

            &__progress {
                height: 100%;
                background: $primaryColor;

                @apply rounded-full;
            }
        }
    
        &__title {
            @apply text-sm;
            @apply mt-3;
            @apply ml-0.5;
        }

        span {
            display: block;
            width: 100%;
        }

        button:first-child {
            @apply ml-0;
        }
    
        button:last-child {
            @apply mr-0;
        }
    }

    &__navigate {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        
        &__button {
            height: 40px;
            width: 40px;
            @apply rounded-full;
            background-color: $bgPrimaryColor;
        }

        button:first-child {
            @apply mr-2;
        }

        @apply ml-6;
    }
}